<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>firstName</key>
		<string>Stephanie</string>
		<key>lastName</key>
		<string>Sharp</string>
		<key>role</key>
		<string>Mobile Engineer</string>
		<key>location</key>
		<string>Melbourne</string>
		<key>department</key>
		<string></string>
		<key>email</key>
		<string>ssharp@example.com</string>
		<key>mobile</key>
		<string>0434 838 787</string>
		<key>phone</key>
		<string></string>
		<key>profileImage</key>
		<string>stephanie-sharp</string>
		<key>authenticated</key>
		<true/>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Amelia</string>
		<key>lastName</key>
		<string>Walker</string>
		<key>role</key>
		<string>Project Manager</string>
		<key>location</key>
		<string>Sydney</string>
		<key>department</key>
		<string>Delivery</string>
		<key>email</key>
		<string>awalker@example.com</string>
		<key>mobile</key>
		<string>0488 777 832</string>
		<key>phone</key>
		<string>02 7347 5555</string>
		<key>profileImage</key>
		<string>amelia-walker</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Diane</string>
		<key>lastName</key>
		<string>Howell</string>
		<key>role</key>
		<string>CEO</string>
		<key>location</key>
		<string>Sydney</string>
		<key>department</key>
		<string></string>
		<key>email</key>
		<string>dhowell@example.com</string>
		<key>mobile</key>
		<string>0472 275 742</string>
		<key>phone</key>
		<string>02 6743 5730</string>
		<key>profileImage</key>
		<string>diane-howell</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>George</string>
		<key>lastName</key>
		<string>Shelton</string>
		<key>role</key>
		<string>Delivery Lead</string>
		<key>location</key>
		<string>Melbourne</string>
		<key>department</key>
		<string>Digital</string>
		<key>email</key>
		<string>gshelton@example.com</string>
		<key>mobile</key>
		<string>0428 737 626</string>
		<key>phone</key>
		<string>02 4843 8785</string>
		<key>profileImage</key>
		<string>george-shelton</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Julia</string>
		<key>lastName</key>
		<string>Allen</string>
		<key>role</key>
		<string>Software Engineer</string>
		<key>location</key>
		<string>Sydney</string>
		<key>department</key>
		<string>Digital</string>
		<key>email</key>
		<string>jallen@example.com</string>
		<key>mobile</key>
		<string>0486 033 688</string>
		<key>phone</key>
		<string></string>
		<key>profileImage</key>
		<string>julia-allen</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Justin</string>
		<key>lastName</key>
		<string>Crawford</string>
		<key>role</key>
		<string>Tech Lead</string>
		<key>location</key>
		<string>Brisbane</string>
		<key>department</key>
		<string></string>
		<key>email</key>
		<string>jcrawford@example.com</string>
		<key>mobile</key>
		<string>0464 9392 5732</string>
		<key>phone</key>
		<string></string>
		<key>profileImage</key>
		<string></string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Lauren</string>
		<key>lastName</key>
		<string>King</string>
		<key>role</key>
		<string>Mobile Engineer</string>
		<key>location</key>
		<string>Sydney</string>
		<key>department</key>
		<string>Digital</string>
		<key>email</key>
		<string>lking@example.com</string>
		<key>mobile</key>
		<string>0476 732 125</string>
		<key>phone</key>
		<string></string>
		<key>profileImage</key>
		<string>lauren-king</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Liam</string>
		<key>lastName</key>
		<string>Williams</string>
		<key>role</key>
		<string>Software Engineer</string>
		<key>location</key>
		<string>Brisbane</string>
		<key>department</key>
		<string>Digital</string>
		<key>email</key>
		<string>lwilliams@example.com</string>
		<key>mobile</key>
		<string>0438 826 644</string>
		<key>phone</key>
		<string></string>
		<key>profileImage</key>
		<string></string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Lisa</string>
		<key>lastName</key>
		<string>Mills</string>
		<key>role</key>
		<string>Front End Engineer</string>
		<key>location</key>
		<string>Melbourne</string>
		<key>department</key>
		<string>Digital</string>
		<key>email</key>
		<string>lmills@example.com</string>
		<key>mobile</key>
		<string>0483 374 473</string>
		<key>phone</key>
		<string></string>
		<key>profileImage</key>
		<string></string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Maria</string>
		<key>lastName</key>
		<string>Garrett</string>
		<key>role</key>
		<string>Senior Software Engineer</string>
		<key>location</key>
		<string>Melbourne</string>
		<key>department</key>
		<string>Delivery</string>
		<key>email</key>
		<string>mgarrett@example.com</string>
		<key>mobile</key>
		<string>0483 723 912</string>
		<key>phone</key>
		<string></string>
		<key>profileImage</key>
		<string>maria-garrett</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Matthew</string>
		<key>lastName</key>
		<string>Fuller</string>
		<key>role</key>
		<string>Visual Designer</string>
		<key>location</key>
		<string>Sydney</string>
		<key>department</key>
		<string>Delivery</string>
		<key>email</key>
		<string>mfuller@example.com</string>
		<key>mobile</key>
		<string>0476 703 395</string>
		<key>phone</key>
		<string></string>
		<key>profileImage</key>
		<string>matthew-fuller</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Nicholas</string>
		<key>lastName</key>
		<string>Palmer</string>
		<key>role</key>
		<string>Recruiter</string>
		<key>location</key>
		<string>Melbourne</string>
		<key>department</key>
		<string>People &amp; Culture</string>
		<key>email</key>
		<string>npalmer@example.com</string>
		<key>mobile</key>
		<string>0496 436 957</string>
		<key>phone</key>
		<string></string>
		<key>profileImage</key>
		<string>nicholas-palmer</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Thomas</string>
		<key>lastName</key>
		<string>Lynch</string>
		<key>role</key>
		<string>Software Engineer</string>
		<key>location</key>
		<string>Melbourne</string>
		<key>department</key>
		<string>Digital</string>
		<key>email</key>
		<string>tlynch@example.com</string>
		<key>mobile</key>
		<string>0484 836 964</string>
		<key>phone</key>
		<string></string>
		<key>profileImage</key>
		<string>thomas-lynch</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Vincent</string>
		<key>lastName</key>
		<string>Greene</string>
		<key>role</key>
		<string>Business Analyst</string>
		<key>location</key>
		<string>Brisbane</string>
		<key>department</key>
		<string></string>
		<key>email</key>
		<string>vgreene@example.com</string>
		<key>mobile</key>
		<string>0484 836 964</string>
		<key>phone</key>
		<string></string>
		<key>profileImage</key>
		<string>vincent-greene</string>
	</dict>
</array>
</plist>
